[TerminalMenus.Other]

# Setting type: String
# Default value: >MOONS\nTo see the list of moons the autopilot can route to.\n\n>STORE\nTo see the company store\'s selection of useful items.\n\n>BESTIARY\nTo see the list of wildlife on record.\n\n>STORAGE\nTo access objects placed into storage.\n\n>OTHER\nTo see the list of other commands\n\n[numberOfItemsOnRoute]\n
Help = >MOONS (LUNAE)\nut cernās tabulam lunārum ad quam autopilotus dīrigere potest.\n\n\n\n>STORE (TABERNA)\nUt tabulam mercēs ūtilēs societātis videās.\n\n>BESTIARY (ZŌŌLOGIA)\nut cernās tabulam animālium in scrīnīs.\n\n>STORAGE (DĒPŌSITUM)\nDĒPŌSITUM ut accēdās ad objecta collocāta.\n\n>OTHER(CĒTERA)\nut cernās tabulam aliārum imperiōrum.\n\n[numberOfItemsOnRoute]\n

# Setting type: String
# Default value: Welcome to the Company store. \nUse words BUY and INFO on any item. \nOrder tools in bulk by typing a number.\n____________________________\n\n[buyableItemsList]\n\nSHIP UPGRADES:\n* Loud horn    //    Price: $150\n* Teleporter    //    Price: $375\n* Inverse Teleporter    //    Price: $425\n\nThe selection of ship decor rotates per-quota. Be sure to check back next week:\n------------------------------\n[unlockablesSelectionList]\n\n
Store = Salvē in Tablīnā Emporīī Societātis. \nUt rēs ēmere vel rēs sciās, vērba "BUY" ("EME") et "INFŌ" adhibe. \nUt ferrāmenta magnā cōpiā ordīnēs, numerum scrībēns ūtere.\n____________________________\n\n[buyableItemsList]\n\nUPLĒTĪŌ NĀVIS:\n* Clangor magnus    //    Pretium: $150\n* Translōcātor    //   Pretium: $375\n* Translōcātor inversus    //    Pretium: $425\n\nSelectiōnēs decorātiōnum nāvium cotīdiē permutantur. Ne oblivīscāris post sēptimānam revertī:\n------------------------------\n[unlockablesSelectionList]\n\n

# Setting type: String
# Default value: BESTIARY\n\nTo access a creature file, type \"INFO\" after its name.\n---------------------------------\n\n[currentScannedEnemiesList]\n\n\n
Bestiary = BESTIARY (BESTIĀRIUM)\n\nAd līberandum fīlium cūiusdam, post nōmen eius vērbum "INFŌ" scrībe.\n---------------------------------\n\n[currentScannedEnemiesList]\n\n\n

# Setting type: String
# Default value: Reset credits to 200. 
CheatResetCredits = Crēditōs ad CC redde.

# Setting type: String
# Default value: Welcome to the exomoons catalogue.\nTo route the autopilot to a moon, use the word ROUTE.\nTo learn about any moon, use the word INFO.\n____________________________\n\n* The Company building   //   Buying at [companyBuyingPercent].\n\n* Experimentation [planetTime]\n* Assurance [planetTime]\n* Vow [planetTime]\n\n* Offense [planetTime]\n* March [planetTime]\n\n* Rend [planetTime]\n* Dine [planetTime]\n* Titan [planetTime]\n\n
Moons = Salvē in Catālogō Exolūnārum.\nUt autocursōrem ad exolūnam dūcās, vērbum "ROUTE" ("ITER") adhibe.\nUt dē quālibet exolūnā discās, vērbum "INFO" adhibe.\n____________________________\n\n* Aedificium Societātis   //   Emēs ad pretium [companyBuyingPercent].\n\n* Experimentation [planetTime]\n* Assurance [planetTime]\n* Vow [planetTime]\n\n* Offense [planetTime]\n* March [planetTime]\n\n* Rend [planetTime]\n* Dine [planetTime]\n* Titan [planetTime]\n\n

# Setting type: String
# Default value: This selection rotates per-quota. Be sure to check back next week!\n____________________________\n\n[unlockablesSelectionList]\n
Suits = Haec electiō per cōtidiē vertitur. Ne oblivīscāris post sēptimānam revertī!\n____________________________\n\n[unlockablesSelectionList]\n

# Setting type: String
# Default value: To order any item, use the word BUY.\n____________________________\n\n* Teleporter      //    Price: $400\n\n\n\n\n\n
Upgrades = Ut rēm quandam emās, vērbum "BUY" ("EME") adhibe.\n____________________________\n\n* Translōcātor      //    Pretium: $400\n\n\n\n\n\n

# Setting type: String
# Default value: SIGURD\'S LOG ENTRIES\n\nTo read a log, use keyword \"VIEW\" before its name.\n---------------------------------\n\n[currentUnlockedLogsList]\n\n\n
Sigurd = ENTRIA LOGŌRUM SIGURDĪ\n\nUt logum lēgās, vērbum clavem "VIEW" ("SPECTĀ") ante eius nōmen adhibe.\n---------------------------------\n\n[currentUnlockedLogsList]\n\n\n

# Setting type: String
# Default value: While moving furniture with [B], you can press [X] to send it to storage. You can call it back from storage here.\n\nThese are the items in storage:\n\n[storedUnlockablesList]\n
Storage = Dum mōvēs mōbilia cum [B], potes [X] premere ut ea ad conditum mittās. Hīc ea revocāre potes.\n\nHae sunt rēs in conditō:\n\n[storedUnlockablesList]\n

# Setting type: String
# Default value: Other commands:\n\n>VIEW MONITOR\nTo toggle on AND off the main monitor\'s map cam\n\n>SWITCH [Player name]\nTo switch view to a player on the main monitor\n\n>PING [Radar booster name]\nTo make a radar booster play a noise.\n\n>SCAN\nTo scan for the number of items left on the current planet.\n\n\n
Other = Aliīs iussīs:\n\n>VIEW MONITOR (SPECTĀ MONITŌREM)\nUt tabulam māpae prīmārīs simul cōnferās et disiungās\n\n>SWITCH (PERMŪTĀ) [Player name]\nUt ad spectātum īnspiciendum ad lūdicrum in tabulā māpae commūtēs\n\n>PING [Radar booster name]\nUt auxilium radarī sonum facere faciās\n\n>SCAN (SCRŪTĀ)\nUt numerum rērum quae super hanc terram nunc remanent inveniās\n\n\n

# Setting type: String
# Default value: [scanForItems]\n
Scan = [scanForItems]\n

# Setting type: String
# Default value: Switching player view\n
Switch = Commutātiō aspectūs spectātōrīs\n
