## Settings file was created by plugin NewTerminal v1.0.0
## Plugin GUID: NewTerminal

[TerminalMenus.Special]

# Setting type: String
# Default value: BG IG, A System-Act Ally\nCopyright (C) 2084-2108, Halden Electronics Inc.\nCourtesy of the Company.\n\n\n\nBios for FORTUNE-9 87.7/10MHZ SYSTEM\n\nCurrent date is Tue  3-7-2532\nCurrent time is 8:03:32.15\n\nPlease enter favorite animal: 
WelcomeNode = BG IG, A System-Act Ally\nCopyright (C) 2084-2108, Halden Electronics Inc.\nCourtesy of the Company.\n\n\n\nBios for FORTUNE-9 87.7/10MHZ SYSTEM\n\nCurrent date is Tue  3-7-2532\nCurrent time is 8:03:32.15\n\nPlease enter favorite animal:

# Setting type: String
# Default value: Welcome to the FORTUNE-9 OS\n\tCourtesy of the Company\n\nHappy [currentDay].\n\nType \"Help\" for a list of commands.\n\n\n\n\n
Start = Добро пожаловать в фортуна-9 ОС\n\tПредоставлено компанией\n\nСчастливого дня.\n\nВведите \"Помощь\" для получения списка команд.\n\n\n\n\n

# Setting type: String
# Default value: You could not afford these items!\nYour balance is [playerCredits]. Total cost of these items is [totalCost].\n\n
CannotAfford = Вы не можете позволить себе эти предметы!\nВаш баланс [playerCredits]. Общая стоимость этих предметов [totalCost].\n\n

# Setting type: String
# Default value: Unable to route the ship currently. It must be in orbit around a moon to route the autopilot.\nUse the main lever at the front desk to enter orbit.\n\n\n\n
CouldNotReroute = В настоящее время невозможно проложить маршрут для корабля. Он должен находиться на орбите луны, чтобы автопилот мог проложить маршрут.\nИспользуйте главный рычаг чтобы выйти на орбиту.\n\n\n\n

# Setting type: String
# Default value: The delivery vehicle cannot hold more than 12 items\nat a time. Please pick up your items when they land!\n\n\n
TooManyItems = Транспортное средство для доставки не может вместить более 12 предметов одновременно. Пожалуйста, заберите свои вещи, когда они прибудут!\n\n\n

# Setting type: String
# Default value: An error occured! Try again.\n\n
GeneralError = Произошла ошибка! Попробуйте ещё раз.\n\n

# Setting type: String
# Default value: No data has been collected on this creature. \nA scan is required.\n\n
NoCreatureData = По этому существу нет собранной информации. \nA scan is required.\n\n

# Setting type: String
# Default value: To purchase decorations, the ship cannot be landed.\n\n
MustBeInOrbit = Для покупки улучшений корабль не должен находиться на поверхности.\n\n

# Setting type: String
# Default value: The autopilot ship is already orbiting this moon!
AlreadyOnThisPlanet = Корабль уже на орбите этой луны!

# Setting type: String
# Default value: [DATA CORRUPTED OR OVERWRITTEN]\n\n
NoUnlockedStoryLogs = [ДАННЫЕ ПОВРЕЖДЕНЫ ИЛИ ПЕРЕЗАПИСАНЫ]\n\n

# Setting type: String
# Default value: [There was no action supplied with the word.]\n\n
ParserError1 = [Данная команда не поддерживается системой.]\n\n

# Setting type: String
# Default value: [There was no object supplied with the action, or your word was typed incorrectly or does not exist.]\n\n
ParserError2 = [В действии не указан объект, либо слово введено неправильно или не существует.]\n\n

# Setting type: String
# Default value: [This action was not compatible with this object.]\n\n
ParserError3 = [Это действие несовместимо с данным объектом.]\n\n

# Setting type: String
# Default value: >MOONS\nTo see the list of moons the autopilot can route to.\n\n>STORE\nTo see the company store\'s selection of useful items.\n\n>BESTIARY\nTo see the list of wildlife on record.\n\n>STORAGE\nTo access objects placed into storage.\n\n>OTHER\nTo see the list of other commands\n\n[numberOfItemsOnRoute]\n
HelpCommands = >MOONS\nTo see the list of moons the autopilot can route to.\n\n>STORE\nTo see the company store\'s selection of useful items.\n\n>BESTIARY\nTo see the list of wildlife on record.\n\n>STORAGE\nTo access objects placed into storage.\n\n>OTHER\nTo see the list of other commands\n\n[numberOfItemsOnRoute]\n

# Setting type: String
# Default value: This has already been unlocked for your ship!
AlreadyUnlocked = Это уже разблокировано для вашего корабля!

# Setting type: String
# Default value: The ship cannot be leaving or landing!\n\n
ShipInMotion = Корабль не может уйти или приземлиться!\n\n

# Setting type: String
# Default value: This item is not in stock!\n\n
NotInStock = Данного предмента нет в наличии!\n\n

# Setting type: String
# Default value: Returned the item from storage!
ReturnedFromStorage = Предмет возвращен со склада!

# Setting type: String
# Default value: This is locked from the demo version!\n\n
LockedForDemo = Это заблокировано в демо версии!\n\n

# Setting type: String
# Default value: Entered broadcast code.\n
EnteredCode = Введен код передачи.\n

# Setting type: String
# Default value: Switched radar to player.\n\n
SwitchedCam = Переключен радар на игрока.\n\n

# Setting type: String
# Default value: Pinged radar booster.\n\n
PingedRadarBooster = Отправлен запрос радар-усилителю.\n\n

