## Settings file was created by plugin NewTerminal v1.0.0
## Plugin GUID: NewTerminal

[TerminalMenus.Other]

# Setting type: String
# Default value: >MOONS\nTo see the list of moons the autopilot can route to.\n\n>STORE\nTo see the company store\'s selection of useful items.\n\n>BESTIARY\nTo see the list of wildlife on record.\n\n>STORAGE\nTo access objects placed into storage.\n\n>OTHER\nTo see the list of other commands\n\n[numberOfItemsOnRoute]\n
Help = >ЛУНЫ\nСписок лун, к которым автопилот может проложить маршрут.\n\n>МАГАЗИН\nАссортимент товаров в магазине компании.\n\n>БЕСТИАРИЙ\nСписок зарегистрированных существ.\n\n>СКЛАД\nДоступ к объектам, помещённым на склад.\n\n>РАЗНОЕ\nСписок остальных команд.\n\n[numberOfItemsOnRoute]\n

# Setting type: String
# Default value: Welcome to the Company store. \nUse words BUY and INFO on any item. \nOrder tools in bulk by typing a number.\n____________________________\n\n[buyableItemsList]\n\nSHIP UPGRADES:\n* Loud horn    //    Price: $150\n* Teleporter    //    Price: $375\n* Inverse Teleporter    //    Price: $425\n\nThe selection of ship decor rotates per-quota. Be sure to check back next week:\n------------------------------\n[unlockablesSelectionList]\n\n
Store = Добро пожаловать в магазин Компании. \nИспользуйте \"КУПИТЬ\" и \"ИНФО\" для любого товара. \nЗакажите инструменты оптом, введя их количество.\n____________________________\n\n[buyableItemsList]\n\nУЛУЧШЕНИЯ КОРАБЛЯ:\n* Громкий гудок    //    Цена:: $150\n* Телепортатор    //    Цена:: $375\n* Обратный телепортатор    //    Цена:: $425\n\nВыбор декора меняется в зависимости от квоты. Обязательно загляните сюда на следующей неделе:\n------------------------------\n[unlockablesSelectionList]\n\n

# Setting type: String
# Default value: BESTIARY\n\nTo access a creature file, type \"INFO\" after its name.\n---------------------------------\n\n[currentScannedEnemiesList]\n\n\n
Bestiary = БЕСТИАРИЙ\n\nДля доступа к файлу с информацией о существе введите \"ИНФО\" после его имени.\n---------------------------------\n\n[currentScannedEnemiesList]\n\n\n

# Setting type: String
# Default value: Reset credits to 200. 
CheatResetCredits = Сбросить количество кредитов до 200.

# Setting type: String
# Default value: Welcome to the exomoons catalogue.\nTo route the autopilot to a moon, use the word ROUTE.\nTo learn about any moon, use the word INFO.\n____________________________\n\n* The Company building   //   Buying at [companyBuyingPercent].\n\n* Experimentation [planetTime]\n* Assurance [planetTime]\n* Vow [planetTime]\n\n* Offense [planetTime]\n* March [planetTime]\n\n* Rend [planetTime]\n* Dine [planetTime]\n* Titan [planetTime]\n\n
Moons = Добро пожаловать в каталог экзолун.\nЧтобы направить автопилот на Луну, используйте \"ПУТЬ\".\nЧтобы узнать о какой-либо луне, используйте \"ИНФО\".\n____________________________\n\n* Здание Компании   //   Скупка за [companyBuyingPercent].\n\n* Experimentation [planetTime]\n* Assurance [planetTime]\n* Vow [planetTime]\n\n* Offense [planetTime]\n* March [planetTime]\n\n* Rend [planetTime]\n* Dine [planetTime]\n* Titan [planetTime]\n\n

# Setting type: String
# Default value: This selection rotates per-quota. Be sure to check back next week!\n____________________________\n\n[unlockablesSelectionList]\n
Suits = Этот выбор меняется в зависимости от квоты. Обязательно загляните сюда на следующей неделе!\n____________________________\n\n[unlockablesSelectionList]\n

# Setting type: String
# Default value: To order any item, use the word BUY.\n____________________________\n\n* Teleporter      //    Price: $400\n\n\n\n\n\n
Upgrades = Чтобы заказать любой товар, используйте \"КУПИТЬ\".\n____________________________\n\n* Телепортатор      //    Цена:: $400\n\n\n\n\n\n

# Setting type: String
# Default value: SIGURD\'S LOG ENTRIES\n\nTo read a log, use keyword \"VIEW\" before its name.\n---------------------------------\n\n[currentUnlockedLogsList]\n\n\n
Sigurd = SIGURD\'S LOG ENTRIES\n\nTo read a log, use keyword \"VIEW\" before its name.\n---------------------------------\n\n[currentUnlockedLogsList]\n\n\n

# Setting type: String
# Default value: While moving furniture with [B], you can press [X] to send it to storage. You can call it back from storage here.\n\nThese are the items in storage:\n\n[storedUnlockablesList]\n
Storage = Во время перемещения предмета с помощью [B], вы можете нажать [X], чтобы отправить его в хранилище. Вы можете вернуть его обратно здесь.\n\nПредметы на складе:\n\n[storedUnlockablesList]\n

# Setting type: String
# Default value: Other commands:\n\n>VIEW MONITOR\nTo toggle on AND off the main monitor\'s map cam\n\n>SWITCH [Player name]\nTo switch view to a player on the main monitor\n\n>PING [Radar booster name]\nTo make a radar booster play a noise.\n\n>SCAN\nTo scan for the number of items left on the current planet.\n\n\n
Other = Остальные команды:\n\n>ПРОСМОТРЕТЬ МОНИТОР\nДля вкл/выкл камеры основного монитора.\n\n>Сменить [Имя игрока]\nДля переключения на другого игрока на мониторе\n\n>PING [Имя радар-усилителя]\nСделать так, чтобы радар-усилитель воспроизводил звук.\n\n>СКАНИРОВАНИЕ\nСканирование оставшихся предметов на текущей планете.\n\n\n

# Setting type: String
# Default value: [scanForItems]\n
Scan = [scanForItems]\n

# Setting type: String
# Default value: Switching player view\n
Switch = Переключение на другого игрока\n

